.umich-altmetrics {
    font-size: 14px;
}

.umich-altmetrics ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

.umich-altmetrics .items > li {
    padding: 20px;
    box-sizing: border-box;
    page-break-inside: avoid;   /* FF 20+ */
    break-inside: avoid-column; /* Everyone Else */
}

.umich-altmetrics .items > li .altmetric-embed {
    float: left;
}

.umich-altmetrics .items > li h4 {
    margin: 0;
}

.umich-altmetrics .items > li .meta em {
    font-weight: bold;
    font-style: normal;
}

.umich-altmetrics.uma-donut-size .items > li h4,
.umich-altmetrics.uma-donut-size .items > li .meta {
    margin-left: 84px;
}
.umich-altmetrics.uma-donut-size-medium .items > li h4,
.umich-altmetrics.uma-donut-size-medium .items > li .meta {
    margin-left: 140px;
}
